---
interface Props {
  active: boolean;
  href: string;
}


const { active, href } = Astro.props;
---


<a href={href} class:list={["navbar__link", { "navbar__link--active": active }]}>
  <slot />
</a>






